
bin/
data/

.*.SHM
.SHM_*
*.hst
*.idf
*.idx
*.log

last.root
last.xml
run*.mid
runlog.txt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

